<div class="loginheader">
    <i class="material-icons">&#xE853;</i>
</div>
    
<div class="loginlogin">
    <input type="text" placeholder="Email">
</div>

<div class="loginpassword">
    <input type="password" placeholder="Password">
</div>

<div class="loginbutton">
    <button class="loginlogin"><a href="profile.html">Log In</a></button>
    <button class="loginregister"><a href="register.html">Sign Up</a>
    </button>
</div>
        
<div class="loginfooter"></div>