
        <div class="profpic"><img src="img/hugo.svanberg.jpg" alt=""></div>
        <div class="proflocation">(Location)</div>
        <div class="profage">(age)</div>¨
        <div class="profsex">(sex)</div>
        <div class="profbioheader">
            <div class="profname">(Name) (Last Name)</div>
        </div>
        <div class="profbio">
            <p class="profbio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla molestie luctus. Sed eget ligula ligula. Aenean laoreet, elit ac fermentum varius, odio urna suscipit tortor, quis finibus nunc lectus quis risus. Sed ultrices ex faucibus dui molestie, in luctus nibh eleifend. Nunc in risus eu purus vulputate imperdiet in at dolor. Cras vitae augue justo. Nulla vitae nunc fringilla, tincidunt turpis ac, porttitor eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="proffooter"></div>
    

