<div class="regheader">
    <!--> Bild av glad person här </!-->
</div>

<div class="regmain"> </div>
    <div class="regfirstname">
        <input type="text" class="regfirstname" placeholder="First Name">
    </div>
    <div class="reglastname">
        <input type="text" class="reglastname" placeholder="Last Name">
    </div>
    <div class="regemail">
        <input type="text" class="regemail" placeholder="Email adress">
    </div>
    <div class="regpassword">
        <input type="password" class="regpassword" placeholder="Password">
    </div>
    <div class="regconfpassword">
        <input type="password" class="regconfpassword" placeholder="Confirm password">
    </div>

    <div class="regregisterbutton">
        <a class="regregisterbutton" href="verifyemail.html">Sign Up!</a>
    </div>
