<div class="regheader">
    <!--> Bild av glad person här </!-->
</div>

<div class="regmain"> </div>
    <input type="text" class="regfirstname" placeholder="First Name">
    <input type="text" class="reglastname" placeholder="Last Name">
    <input type="text" class="regemail" placeholder="Email adress">
    <input type="password" class="regpassword" placeholder="Password">
    <input type="password" class="regconfpassword" placeholder="Confirm password">
