div.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 95vh;
    margin: auto;
}

div.header {
    grid-column: span 1;
    grid-row: 1/6;
    background-color: rgb(226, 6, 197);
    margin: 0.5vh;
    border-radius: 5px;
}

div.header>i {
    font-size: 200px;
    margin-left: 22vw;
    margin-top: 5vw;
}


div.login {
    grid-column: span 1;
    grid-row: 6/7;
    background-color: rgb(226, 6, 197);
    margin: 0.5vh;
    border-radius: 5px;
    margin: auto;
}

div.login>input {
    width: 70vw;
    height: 5vh;
}

div.password {
    grid-column: span 1;
    grid-row: 7/8;
    background-color: rgb(226, 6, 197);
    margin: 0.5vh;
    border-radius: 5px;
    margin: auto;
}

div.password>input {
    width: 70vw;
    height: 5vh;
}